<a href="https://colab.research.google.com/github/marsgav/euphemism_project/blob/main/Euphemism_Corpus_DataFrames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Euphemism Corpus DataFrames

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('/content/drive/MyDrive/Euphemism Project/Corpus Creation/Final_Files/Euphemism_Corpus.csv', encoding = "utf-8")
df

                      keyword  ...     euph_status
0                      tinkle  ...     always_euph
1                      tinkle  ...     always_euph
2     undocumented immigrants  ...     always_euph
3     undocumented immigrants  ...     always_euph
4     undocumented immigrants  ...     always_euph
...                       ...  ...             ...
1960               sleep with  ...  sometimes_euph
1961               sleep with  ...  sometimes_euph
1962             sleep around  ...  sometimes_euph
1963               with child  ...  sometimes_euph
1964               with child  ...  sometimes_euph

[1965 rows x 6 columns]

Here is a list of the total 129 PETs found in our corpus.  Details on the taboos covered in this set are included as well.

In [4]:
pet = df['type'].value_counts()
taboo = df['category'].value_counts()

petdf = pd.DataFrame(pet).reset_index()
petdf.columns = ['PET','count']


taboodf = pd.DataFrame(taboo).reset_index()
taboodf.columns = ['taboo','count']

In [5]:
petdf

                       PET  count
0                     weed     60
1                     late     60
2                    aging     60
3                 disabled     60
4                   demise     56
..                     ...    ...
124      under the weather      1
125               pass gas      1
126           full figured      1
127  physically challenged      1
128         running behind      1

[129 rows x 2 columns]

In [6]:
taboodf

                        taboo  count
0  physical/mental attributes    598
1                  employment    352
2                       death    348
3                    politics    321
4                  substances    175
5             sexual activity     89
6            bodily functions     51
7                       misc.     31

## Euphemistic Examples
1,382 total sentences<br>
- 777 sentences where 71 PETs were always used euphemistically.
- 605 sentences where 58 PETS were used both euphemistically and literally.

In [7]:
euphs= df[df['is_euph'] == 1]
euphs

                      keyword  ...     euph_status
0                      tinkle  ...     always_euph
1                      tinkle  ...     always_euph
2     undocumented immigrants  ...     always_euph
3     undocumented immigrants  ...     always_euph
4     undocumented immigrants  ...     always_euph
...                       ...  ...             ...
1377                     weed  ...  sometimes_euph
1378                     weed  ...  sometimes_euph
1379                     weed  ...  sometimes_euph
1380                     weed  ...  sometimes_euph
1381                     weed  ...  sometimes_euph

[1382 rows x 6 columns]

In [ ]:
#to save all of the euphemistic examples uncomment the line below
#euphs.to_csv('alleuphemisticsentences.csv')

## Always Euphs

Below are the 777 sentences in which select 71 PETS were only ever found to be used in a euphemistic sense within our corpus.

In [8]:
alwayseuphsdf= euphs[euphs['euph_status'] == 'always_euph']
alwayseuphsdf

                     keyword  ...  euph_status
0                     tinkle  ...  always_euph
1                     tinkle  ...  always_euph
2    undocumented immigrants  ...  always_euph
3    undocumented immigrants  ...  always_euph
4    undocumented immigrants  ...  always_euph
..                       ...  ...          ...
772                make love  ...  always_euph
773              making love  ...  always_euph
774              making love  ...  always_euph
775                made love  ...  always_euph
776           running behind  ...  always_euph

[777 rows x 6 columns]

In [ ]:
#to save all of the always_eiphs euphemistic examples uncomment the line below
#alwayseuphsdf.to_csv('always_euphs_sentences.csv')

Here, are the 71 PETs and the taboo categories covered in this set of sentences.

In [9]:
always_euphpet = alwayseuphsdf['type'].value_counts()
always_euphtaboo = alwayseuphsdf['category'].value_counts()

always_euphpetdf = pd.DataFrame(always_euphpet).reset_index()
always_euphpetdf.columns = ['PET','count']


always_euphtaboodf = pd.DataFrame(always_euphtaboo).reset_index()
always_euphtaboodf.columns = ['taboo','count']

In [10]:
always_euphpetdf

                      PET  count
0                deceased     20
1         freedom fighter     20
2         substance abuse     20
3       sanitation worker     20
4              low-income     20
..                    ...    ...
66         adult beverage      1
67      under the weather      1
68           full figured      1
69         running behind      1
70  physically challenged      1

[71 rows x 2 columns]

In [11]:
always_euphtaboodf

                        taboo  count
0                    politics    235
1  physical/mental attributes    181
2                  employment    140
3                       death     76
4                  substances     55
5             sexual activity     47
6            bodily functions     40
7                       misc.      3

In [ ]:
#to save lists
#always_euphpetdf.to_csv('always_euph_PETs.csv')
#always_euphtaboodf.to_csv('always_euph_taboos.csv')

## Sometimes Euphs - euphemistic sentences

Below are the 605 sentences in which select 58 PETS were used in a euphemistic sense within our corpus.

In [12]:
sometimeseuphsdf= euphs[euphs['euph_status'] == 'sometimes_euph']
sometimeseuphsdf

        keyword  ...     euph_status
777   let go of  ...  sometimes_euph
778   let go of  ...  sometimes_euph
779   let go of  ...  sometimes_euph
780   let go of  ...  sometimes_euph
781   let go of  ...  sometimes_euph
...         ...  ...             ...
1377       weed  ...  sometimes_euph
1378       weed  ...  sometimes_euph
1379       weed  ...  sometimes_euph
1380       weed  ...  sometimes_euph
1381       weed  ...  sometimes_euph

[605 rows x 6 columns]

In [ ]:
#to save all of the sometimes_euphs euphemistic examples uncomment the line below
#sometimeseuphsdf.to_csv('sometimes_euphs_sentences.csv')

Here, are the 58 PETs and the taboo categories covered in this set of sentences.

In [13]:
sometimes_euphpet = sometimeseuphsdf['type'].value_counts()
sometimes_euphtaboo = sometimeseuphsdf['category'].value_counts()

sometimes_euphpetdf = pd.DataFrame(sometimes_euphpet).reset_index()
sometimes_euphpetdf.columns = ['PET','count']


sometimes_euphtaboodf = pd.DataFrame(sometimes_euphtaboo).reset_index()
sometimes_euphtaboodf.columns = ['taboo','count']

In [14]:
sometimes_euphpetdf

                          PET  count
0                        late     30
1                       aging     30
2                    disabled     30
3                        weed     30
4                      demise     28
5           collateral damage     26
6                    accident     26
7                   expecting     23
8                      perish     20
9                  overweight     19
10                    lay off     18
11                  pass away     18
12                intoxicated     16
13                exterminate     15
14                   troubled     15
15                 economical     14
16              disadvantaged     14
17              special needs     13
18             underdeveloped     13
19                  dismissed     13
20                      sober     11
21              a certain age     11
22                   mixed up     11
23                   well off     11
24                       slim     11
25                      plump     10
26                      chest     10
27                   same-sex      8
28              regime change      8
29                 neutralize      8
30               between jobs      7
31               let [pro] go      7
32               put to sleep      7
33              over the hill      6
34                      stout      6
35                 sleep with      6
36                  custodian      6
37                    pass on      6
38                    wealthy      5
39             go all the way      5
40                  let go of      5
41                  outspoken      3
42                    invalid      3
43                   seasoned      2
44  outlived [pro] usefulness      2
45                experienced      2
46                 with child      2
47                   deprived      2
48              getting clean      2
49  seeing someone/each other      2
50                   downsize      2
51                  got clean      1
52             went to heaven      1
53          oldest profession      1
54            to go to heaven      1
55            gluteus maximus      1
56                 long sleep      1
57               sleep around      1

In [15]:
sometimes_euphtaboodf

                        taboo  count
0  physical/mental attributes    206
1                       death    138
2                  employment    106
3                  substances     60
4                    politics     44
5             sexual activity     21
6                       misc.     19
7            bodily functions     11

## Literal Examples
583 total sentences

These are the sentences where the same select 58 PETS from above were used literally.

In [18]:
literals= df[df['is_euph'] == 0]
literals

           keyword  ...     euph_status
1382     let go of  ...  sometimes_euph
1383     let go of  ...  sometimes_euph
1384     let go of  ...  sometimes_euph
1385     let go of  ...  sometimes_euph
1386     let go of  ...  sometimes_euph
...            ...  ...             ...
1960    sleep with  ...  sometimes_euph
1961    sleep with  ...  sometimes_euph
1962  sleep around  ...  sometimes_euph
1963    with child  ...  sometimes_euph
1964    with child  ...  sometimes_euph

[583 rows x 6 columns]

Here are the same select 58 PETs from above.

In [19]:
litpet = literals['type'].value_counts()

litpetdf = pd.DataFrame(litpet).reset_index()
litpetdf.columns = ['PET','count']

In [20]:
litpetdf

                          PET  count
0                        late     30
1                       aging     30
2                    disabled     30
3                        weed     30
4                      demise     28
5           collateral damage     26
6                   expecting     23
7                      perish     20
8                  overweight     19
9                     lay off     18
10                  pass away     18
11                intoxicated     16
12                   troubled     15
13                exterminate     15
14                 economical     14
15              disadvantaged     14
16                  dismissed     13
17              special needs     13
18             underdeveloped     13
19                       slim     13
20                   well off     11
21                   mixed up     11
22              a certain age     11
23                      sober     11
24                      plump     10
25                      chest     10
26                   same-sex      8
27                 neutralize      8
28               let [pro] go      7
29               between jobs      7
30                 sleep with      6
31                    pass on      6
32                   accident      6
33                      stout      6
34              over the hill      6
35              regime change      6
36                  custodian      6
37                    wealthy      5
38             go all the way      5
39                  let go of      5
40                experienced      4
41               put to sleep      3
42                  outspoken      3
43                    invalid      3
44              getting clean      2
45  seeing someone/each other      2
46                   seasoned      2
47                   downsize      2
48                   deprived      2
49  outlived [pro] usefulness      2
50                 with child      2
51          oldest profession      1
52             went to heaven      1
53            to go to heaven      1
54                  got clean      1
55                 long sleep      1
56               sleep around      1
57            gluteus maximus      1

## Word/Character Count Averages

In [21]:
#references original input file of full corpus
df['editedtext_char_count'] = df['edited_text'].apply(len)
df['editedtext_word_count'] = df['edited_text'].apply(lambda x: len(x.split()))

In [22]:
print(df['editedtext_char_count'].mean())
print(df['editedtext_word_count'].mean())

373.20814249363866
65.74351145038167